<h2 class="ui center aligned header">Welcome to MessageMe - a <i>complete</i> Chat App</h2>
<h4 class="ui center aligned medium icon header">
  <i class="circular orange power icon"></i>
  Sign up to continue
</h4>

<div class="ui placeholder segment">
  <div class="column">
    <%= render 'form' %>
  </div>
</div>
